.wldcfwc-hide, .wldcfwc-hide-until-positioned{
	display: none !important;
}
.wldcfwc-fade-in{
	transition: opacity 3s;
}
.wldcfwc-modal-pre-content{
	margin-top: 30px;
}
.wldcfwc-modal-content {
	text-align: center;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.wldcfwc-modal-content.top-border {
	border-top: 1px solid rgba(0,0,0,.40);
}
.wldcfwc-modal-content.no-margin-top {
	margin-top: 0px;
}
.wldcfwc-modal-content.bottom-border {
	border-bottom: 1px solid rgba(0,0,0,.40);
}
.wldcfwc-modal-content p {
	margin-top: 1.5em;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 600;
}
.wldcfwc-modal-logo{
	margin: auto;
}
.wldcfwc_modal_container_shadowed_centered{
	padding: 15px 40px;
	/*font-weight: 700;*/
	text-align: center;
	border-radius: 5px;
	background: white;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.3);
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	max-width: 700px;
	position: fixed;
	/* initial position. using js to position with width */
	top: 20px;
	left: 20px;
	z-index: 999;
}
.wldcfwc_modal-header {
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
	padding: 1rem;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: flex-end; /* Align items at the bottom */
	position: relative; /* Needed for absolute positioning of the close button */
}
.wldcfwc_modal-header-logo-left{
	margin-right: 2.5rem;
}
.wldcfwc_modal-header-logo-right{
	margin-right: 2.5rem;
}
img.wldcfwc_modal-header-store-logo{
	max-width: 200px;
	display: inline-block;
}
img.wldcfwc_modal-header-store-icon{
	max-width: 35px;
	display: none;
}
img.wldcfwc_modal-header-wlcom-logo{
	max-width: 200px;
	display: inline-block;
}
img.wldcfwc_modal-header-wlcom-icon{
	max-width: 35px;
	display: none;
}
@media (max-width: 750px){
	img.wldcfwc_modal-header-store-logo{
		display: none;
	}
	img.wldcfwc_modal-header-store-icon{
		display: inline-block;
	}
	img.wldcfwc_modal-header-wlcom-logo{
		display: none;
	}
	img.wldcfwc_modal-header-wlcom-icon{
		display: inline-block;
	}
}
.wldcfwc-close-x {
	background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
	border: 0;
	border-radius: .25rem;
	box-sizing: content-box;
	color: #000;
	height: 1em;
	opacity: .5;
	padding: .25em;
	width: 1em
}
.wldcfwc_modal-header .wldcfwc-close-x {
	/*margin: -0.5rem -0.5rem -0.5rem auto;*/
	position: absolute;
	top: .5rem;
	right: -.1rem;
	padding: 0.5rem;
	font-size: 1.5rem;

}
.wldcfwc_modal-header .wldcfwc-close-x:hover,.wldcfwc_modal-header .wldcfwc-close-x:active {
	color: #000;
	opacity: .75;
	text-decoration: none;
	background-color: unset;
	border-color: unset;
	cursor: pointer;
}
.wldcfwc-inline-block{
	display: inline-block !important;
}
.wldcfwc-margin-right-4{
	margin-right: 10px;
}
.wldcfwc-margin-left-4{
	margin-left: 10px;
}
.wldcfwc-float-right{
	float: right;
}
.wldcfwc-float-left{
	float: left
}
.wldcfwc-wishlist-button,.wldcfwc-wishlist-button--wishlist,.wldcfwc-wishlist-button--save_wish_modal,.wldcfwc-wishlist-button--cart{
	position: relative;
	cursor: pointer;
	display: inline-block;
}
a.wldcfwc-wishlist-button, .entry-content a.wldcfwc-wishlist-button{
	text-decoration: none;
}
.wldcfwc-wishlist-button-div--save_wish_modal{
	margin-top: 30px;
}
.wldcfwc-wishlist-button:not(.button),.wldcfwc-wishlist-button--wishlist:not(.button),.wldcfwc-wishlist-button--save_wish_modal:not(.button),.wldcfwc-wishlist-button--cart:not(.button){
	/*margin-left: 10px;*/
	/*margin-bottom: 10px;*/
	margin-top: 10px;
}
.woocommerce-js button.button.wldcfwc-wishlist-button, .woocommerce-js a.button.wldcfwc-wishlist-button{
	margin-bottom: 10px;
}

.wldcfwc-wishlist-text-link:not(.button),.wldcfwc-wishlist-text-link--wishlist:not(.button),.wldcfwc-wishlist-text-link--save_wish_modal:not(.button),.wldcfwc-wishlist-text-link--cart:not(.button){
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.wldcfwc-img-wrapper-button {
	position: absolute;
}
.wldcfwc-img-wrapper-text {
	display: inline-block;
	max-width: 18px;
	margin-right: 4px;
}
img.wldcfwc-trans_icon_img_button{
	box-shadow: unset;
	-webkit-box-shadow: unset;
	-moz-box-shadow: unset;
}
.wldcfwc_radio_container{
	margin-top: 15px;
}
.wldcfwc_radio_container:hover, .wldcfwc_radio_container input:hover, .wldcfwc_radio_container label:hover {
	cursor: pointer;
}

.wldcfwc_doTooltip.tooltip-active {
	position: relative;
}
.wldcfwc_doTooltip__save_wish_modal.tooltip-active {
	position: relative;
}
.wldcfwc-tooltip{
	z-index: 11000;
	max-width: 400px;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	top: calc(100% + 5px);
	pointer-events: none;
	cursor: initial;
	line-height: 1.75;
	display: none;
	border: 1px solid #E1E1E1;
	background-color: #fff;
	color: #2c352e;
	font-weight: 400;
	box-shadow: 0 3px 3px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);

	position: absolute;
	/* required if rendered inside a button, if tooltip js a link, or events to listen to */
	pointer-events: all;
}
.wldcfwc-tooltip:not(.wldcfwc-tooltip-modal):before{
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: calc(50% - 2px);
	width: 0;
	height: 0;
	background: transparent!important;
	border-left: 5px solid transparent!important;
	border-right: 5px solid transparent!important;
	border-bottom: 5px solid;
}
.wldcfwc-tooltip-modal-links-div{
	margin-top: 10px;
	margin-bottom: 20px;
}
.wldcfwc-tooltip-modal-link{
	margin: 10px;
}
.wldcfwc_auto_radio{
	margin-left: 15px;
}
.wldcfwc_auto_radio_text, input[type=radio]+label.wldcfwc_auto_radio_text{
	margin-left: 4px;
}
.wldcfwc-img-wrapper-conf{
	display: inline-block;

	width: 16px;
	margin-right: 10px;
}
ul.products li.product .wldcfwc-img-wrapper-conf img{
	/* undo woocommerce css */
	display: inline-block;
	margin: 0;
	border-radius: 0px;
}
ul.products li.product .wldcfwc-img-wrapper-conf{
	width: 14px;
	margin-right: 7px;
}
.wldcfwc-conf-link{
	cursor: pointer;
}
.wldcfwc-conf-message-div{
	display: inline-block;
}
.wldcfwc-conf-message{
	position: relative;
}
.wldcfwc_wishlist_settings_container{
	margin: 5px 5px 5px 0px;
	clear:both;
}
.wldcfwc-wishlist-settings-message-div{
	display: inline-block;
}
.wldcfwc-footer-links{
	margin: 15px 5px 5px 5px;
}
.wldcfwc-bodytag-modal{
	overflow: hidden;
}
.wldcfwc_modal {
	display: block;
	/*position: absolute;*/
	/*min-height:6000px;*/
	position: fixed;
	height: 100%;
	z-index: 1000000001;
	left: 0;
	top: 0;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.wldcfwc_modal_dialog {
	max-width: 80%;
	background-color: #fff;
	margin: 1.75rem auto;
	padding: 0px 20px 20px 20px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}
@media (max-width: 601px){
	.wldcfwc_modal_dialog {
		max-width: 95%;
		padding: 0px 5px 5px 5px;
	}
}
.wldcfwc_modal_content{
	width: 100%;
	height: 100%;
}
.wldcfwc_modal_header{
	text-align: right;
}
.wldcfwc_inline_block{
	display: inline-block;
}
.wldcfwc_button_margin_left ~ .wldcfwc_button_margin_left{
	/* left margin for ajacent buttons */
	margin-left: 15px !important;
}
.wldcfwc_hp_empty_image_div{
	min-height: 1em;
}
.wldcfwc_hp_image_div_margin_bottom{
	margin-bottom: 1.5em;
}
.wldcfwc_hp_subtitle_div_margin_bottom{
	margin-bottom: 1.5em;
}
.wldcfwc_hp_description_div_margin_bottom{
	margin-bottom: 1.5em;
}
.wldcfwc_hp_buttons_div{
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
.wldcfwc_hp_footer_div{
	max-width: 800px;
	display: inline-block;
}
.wldcfwc_hp_footer_div_margin_bottom{
	margin-bottom: 1.5em;
}
.wldcfwc_logo-icon-inline-text{
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	max-width: 30px;
	height: auto;
	vertical-align: text-top;
}
.wldcfwc_powered-by-wishlist-com img, img.wldcfwc_powered-by-wishlist-com {
	max-width: 20px;
}
.wldcfwc_powered-by-wishlist-com a {
	text-decoration: none !important;
	color: inherit;
}
.wldcfwc_hp_poweredby_div_margin_bottom{
	margin-bottom: 1.5em;
}
.wldcfwc_font_normal_bold{
	font-weight: bold;
}
.wldcfwc_font_medium{
	font-size: medium;
}
.wldcfwc_font_small{
	font-size: small;
}
.wldcfwc_text_centered{
	text-align: center;
}
.wldcfwc_text_left{
	text-align: left;
}
.wldcfwc_text_right{
	text-align: right;
}

.wldcfwc_spinner_parent_div{
	/*display: flex;
	align-items: center;
	justify-content: center;
	height: 12px;*/
	position: relative;
	z-index: 5000;
}
@-webkit-keyframes wldcfwc_sk-bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}40%{-webkit-transform:scale(1)}}
@keyframes wldcfwc_sk-bouncedelay{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}

.wldcfwc_defaultSpinnerOuter{
	z-index: 5000;
	height: 50px;
	width: 150px;
	margin: 55px auto auto auto;
	overflow: visible;
	background-color: #ffffff;
	text-align: center;
}
.wldcfwc_defaultSpinnerOuterBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #e2e2e2;
}
.wldcfwc_defaultSpinnerOuterBorderShadow{
	box-shadow: 0 0px 0px 0 rgba(50, 50, 50, .15);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wldcfwc_defaultSpinnerOuterTop{
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
}
.wldcfwc_defaultSpinnerOuterCenter{
	position: fixed;
	left: 0;
	bottom: 50%;
	right: 0;
}
.wldcfwc_defaultSpinnerInner {
	margin: auto;
	height: 50px;
	line-height: 50px;
}
.wldcfwc_spinner>span {
	width: 12px;
	height: 12px;
	margin-left: 5px;
	/*background-color: #29aafe;*/
	background-color: #868686;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	display: inline-block;
	-webkit-animation: e 1.4s infinite ease-in-out both;

	animation: wldcfwc_sk-bouncedelay 1.4s infinite ease-in-out both;
	animation-duration: 1.4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running;
	animation-name: wldcfwc_sk-bouncedelay;
}
.wldcfwc_spinner .wldcfwc_dot1 {
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}
.wldcfwc_spinner .wldcfwc_dot2 {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}

.wldcfwc_button-with-spinner {
	position: relative; /* Allow absolute positioning relative to the button */
	padding: 10px 40px; /* Adjust padding as needed */
	display: inline-flex; /* Use flex to center contents */
	align-items: center; /* Align items vertically */
	justify-content: center; /* Center content horizontally */
}

.wldcfwc_spinner-icon {
	position: absolute;
	display: none; /* Hidden by default */
	margin: auto; /* Auto margins for centering */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; /* Positions for centering */

	border: 4px solid rgba(0,0,0,.1);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-left-color: #ffffff;
	animation: wldcfwc_spin_animation 1s linear infinite;
}

@keyframes wldcfwc_spin_animation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}